version: "3.9"

services:

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:80"
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  worker:
    image: docker:26.1-cli
    container_name: worker
    working_dir: /app
    command: ["sh", "-c", "apk add --no-cache nodejs npm && node worker.js"]
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
      - cpp-runner
    restart: unless-stopped


  cpp-runner:
    build:
      context: ./cpp-runner
      dockerfile: Dockerfile
    container_name: cpp-runner
    restart: "no"      
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
